.modal {
    position: fixed;
    top: 20%;
    left: 5%;
    width: 90%;
    background-color: white;
    padding: 1rem;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: none;
}


#backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
}

#overlay {
    text-align: center;
}

#overlay h2 {
    margin: 0.5rem 0;
}

.form-control {
    margin: 0.5rem 0;
}

.form-control label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
}

.form-control input {
    font: inherit;
    border: 1px solid rgb(15, 15, 15);
    width: 15rem;
    padding: 0.35rem;
}

.error label {
    color: rgb(136, 2, 2);
}

.error input {
    border-color: rgb(136, 2, 2);
    color: rgb(136, 2, 2);
    background-color: rgb(253, 219, 219);
}

#game-config {
    width: 90%;
    max-width: 40rem;
    margin: 3rem auto;
    text-align: center;
}

#game-config ol {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#game-config li {
    margin: 1rem;
    padding: 1rem;
    width: 50%;
    background-color: rgba(31, 40, 51, 0.7);
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

#game-config h2 {
    font-size: 1rem;
    margin: 0.5rem 0;
}

#game-config h3 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
    color: #fafaff;
}

.player-symbol {
    font-size: 2rem;
    font-weight: bold;
    color: #fafaff;
    margin: 0.5rem 0;
}

@media (min-width: 48rem){
    .modal {
        left: calc(50% - 20rem);
        width: 40rem;
    }
}