body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    color: rgb(44, 41, 44);
    background-color: rgba(31, 40, 51, 0.5);
}

header {
    background-color: rgba(31, 40, 51, 1);
    color: white;
    padding: 2rem 5%;
    text-align: center;
}


footer {
    background-color: rgba(31, 40, 51, 1);
    color: white;
    padding: 2rem 5%;
}

footer ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

footer li:nth-child(1) {
    padding-right: 1rem;
    border-right: 2px solid #fafaff;
}

footer li:nth-child(2) {
    margin-left: 1rem;
}

.btn {
    font: inherit;
    padding: 0.5rem 1.5rem;
    background-color: rgba(31, 40, 51, 0.6);
    border: 2px solid rgba(31, 40, 51, 1);
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

.btn-alt {
    background-color: transparent;
    border-color: transparent;
    color: rgba(31, 40, 51, 0.6);
}

.btn:hover {
    background-color: rgba(31, 40, 51, 0.3);
    border-color: rgba(31, 40, 51, 1);
    color: azure;
}

.btn-alt:hover {
    background-color: rgba(31, 40, 51, .5);
    border-color: transparent;
    color: azure;
}

#playerName1, #playerName2, #player-1-editButton, #player-2-editButton {
    color: azure;
}


